---
// src/components/Footer.astro
---

<div class="mt-10 mb-6 prose m-auto flex justify-center animate-delay-1200!">
  <span class="text-sm op50">
    <a target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" style="color:inherit" rel="noopener noreferrer">
      CC BY-NC-SA 4.0
    </a>
    2026 © 洋山芋
  </span>
</div>