---
// src/components/Footer.astro
---

<div class="my-10 mx-7">
  <span class="text-sm">
    <a class="op70 hover:op100 transition-opacity" target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" style="color:inherit" rel="noopener noreferrer">
      CC BY-NC-SA 4.0
    </a>
    2026 © 洋山芋
  </span>
</div>