---
// 是否开启版权说明 CC BY-NC-SA 4.0
const showCopyRight = true
---

<footer class="mt-10 mb-6 m-auto flex color-coolgray text-sm">
    {
        showCopyRight && (
            <a class="@hover:color-dark transition-colors duration-500" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
                CC BY-NC-SA 4.0
            </a>
        )
    }
    <p>
        2026 © y3say
    </p>
</footer>