---
//
---

<header class="z-40 w-full fixed top-0 flex justify-between">
    <div class="h-12 grid gap-0.8rem grid-content-center grid-auto-flow-col ml-8rem">
        <span>
            y3say
        </span>
    </div>
    <nav class="h-12 grid gap-0.8rem grid-content-center grid-auto-flow-col mr-8rem">
        <a class="opacity-50 @hover:opacity-90 transition-opacity duration-500" href="/blog/">
            <i class="ri-news-line"></i>
            <span class="hidden md:inline">博客</span>
        </a>
        <a class="opacity-50 @hover:opacity-90 transition-opacity duration-500" href="/about/">
            <i class="ri-information-2-line"></i>
            <span class="hidden md:inline">
                关于
            </span>
        </a>
    </nav>
</header>