---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import BackToTop from '../components/BackToTop.astro'

import Plum from '../components/Plum.astro';
import Fireworks from '../components/Fireworks.astro'

import '../styles/global.css';

export interface Props {
  title?: string
  description?: string
}

const { title = 'y3say', description } = Astro.props
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="洋山芋" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description || 'y3say的个人博客'} />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <title>{title}</title>
    
    <!-- 主题初始化脚本 -->
    <script is:inline>
    // 这里的逻辑只负责：在页面渲染前确定颜色
      const theme = (() => {
        if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
          return localStorage.getItem('theme');
        }
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          return 'dark';
        }
        return 'light';
      })();
      
      if (theme === 'light') {
        document.documentElement.classList.remove('dark');
      } else {
        document.documentElement.classList.add('dark');
      }
      // 将主题同步到 window，方便其他脚本读取
      window.localStorage.setItem('theme', theme);
    </script>
  </head>
  
  <body class="font-sans text-gray-700 dark:text-gray-200 relative min-h-screen bg-white dark:bg-black">
    <Plum />
    <Fireworks />
    <Header />
    <main class="mx-7 md:mx-auto md:max-w-3xl w-auto pt-32 pb-10">
      <slot /> <!-- 页面内容插槽 -->
    </main>
    <Footer />
    <BackToTop />
  </body>
</html>